/* styles.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.navbar-brand img {
    width: 210px;
}


.nav-link {
    color: black;
}

.nav-link:hover {
    color: orange;
}
.active:hover{
    color: orange;

}
.baner {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: rgb(207, 207, 207);
    margin-top: 100px; 
  }

  .column {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
  }

  /* Estilos para pantallas más pequeñas */
  @media (max-width: 768px) {
    .column {
      flex-basis: 100%;
    }
    .baner {
        height: auto;
    }

    }


.column1 {
    background-image: url(./assets/comerimg4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 6, 12, 0.8);
}

.elemento {
    text-align: center;
    padding: 15px;
}
.column1 h2 {
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(12, 12, 12);
    padding-top: 20%;
    
}
.column1 p {
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(12, 12, 12);
    
}


.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 5px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
  }


.seccionindex {
    text-align: center;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 60px;
}
.baner2 {
    width: 100%;
    text-align: center;
    justify-content: center;
    background-image:url(./assets/comerimg3.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 6, 12, 0.8);
}
.baner2 h2 {
    color: white;
    padding-top: 30px;
    margin: 20px;
}

.boton-consulta {
    background-color: #ffd103;
    color: rgb(15, 15, 15);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px;
}
.boton-consulta:hover {
    background-color: #f3d449;
}
.titulo-servicios {
    text-align: center;
    margin: 10px;
}
.contenedor-servicios {
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;


}
.card {
    width: 300px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 0 15px rgb(0, 0, 0);   
    margin: 15px;
  }

  .card img {
    width: 100%;
  }

  .card-description {
    margin-top: 10px;
  }

  .boton-carta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #01080f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
  }

  @media (max-width: 767px) {
    .card {
      display: block;
      width: 270px;
    }
    .contenedor-servicios {
      flex-direction: column;
    }
  }

.contenedor-formulario {
  width: 100%;
  background-image: url(./assets/baner9.png);
  text-align: center;
  background-size: cover;
  background-position: center;

}
.contenedor-formulario h3{
  color: white;
  padding: 30px;
  text-decoration-line: underline;
  
}

.formulario {
    width: 90%;
    margin-top: 60px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgb(0, 0, 0);  
    border-radius: 15px;

  }
  @media (min-width: 768px) {
    .formulario {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 30px;
        justify-content: center;

    }

  }

  
form {
    background-color: rgb(70, 83, 95);
    padding: 20px;
    border-radius: 10px;
    color: rgb(247, 230, 230);
  }
  
.form-group {
    margin-bottom: 20px;
  }
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
.boton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
.boton:hover {
    background-color: #1c33fc;
  }


  .footer {
    background-color: #333;
    color: #acacac;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer a {
    color: #acacac;
    text-decoration: none;
  }
  .puntero img{
    position: fixed;
    bottom: 100px;
    right: 5px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
  }